TestMyWeatherWebService/WeatherServiceUnitTestProject/Connected Services/ServiceReference1/MyWeatherService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://localhost" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost">
      <s:element name="getTemperature">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="day" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTemperatureResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="getTemperatureResult" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertCity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertCityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertCityResult" type="tns:tipoError" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:simpleType name="tipoError">
        <s:restriction base="s:string">
          <s:enumeration value="CiudadYaExiste" />
          <s:enumeration value="CiudadNoExiste" />
          <s:enumeration value="TemperaturaYaExisteEseDia" />
          <s:enumeration value="TemperaturaNoExisteEseDia" />
          <s:enumeration value="OperacionExitosa" />
        </s:restriction>
      </s:simpleType>
      <s:element name="InsertTemperature">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vot" type="tns:VOTemperature" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="VOTemperature">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Ciudad" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Fecha" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="Temperature" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertTemperatureResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertTemperatureResult" type="tns:tipoError" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModifyTemperature">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="vot" type="tns:VOTemperature" />
            <s:element minOccurs="0" maxOccurs="1" name="votNueva" type="tns:VOTemperature" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ModifyTemperatureResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ModifyTemperatureResult" type="tns:tipoError" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteCity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteCityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteCityResult" type="tns:tipoError" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteTemperature">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="fecha" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteTemperatureResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteTemperatureResult" type="tns:tipoError" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListTempreaturesByCity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListTempreaturesByCityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ListTempreaturesByCityResult" type="tns:ArrayOfVOTemperature" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfVOTemperature">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="VOTemperature" nillable="true" type="tns:VOTemperature" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getTemperatureSoapIn">
    <wsdl:part name="parameters" element="tns:getTemperature" />
  </wsdl:message>
  <wsdl:message name="getTemperatureSoapOut">
    <wsdl:part name="parameters" element="tns:getTemperatureResponse" />
  </wsdl:message>
  <wsdl:message name="InsertCitySoapIn">
    <wsdl:part name="parameters" element="tns:InsertCity" />
  </wsdl:message>
  <wsdl:message name="InsertCitySoapOut">
    <wsdl:part name="parameters" element="tns:InsertCityResponse" />
  </wsdl:message>
  <wsdl:message name="InsertTemperatureSoapIn">
    <wsdl:part name="parameters" element="tns:InsertTemperature" />
  </wsdl:message>
  <wsdl:message name="InsertTemperatureSoapOut">
    <wsdl:part name="parameters" element="tns:InsertTemperatureResponse" />
  </wsdl:message>
  <wsdl:message name="ModifyTemperatureSoapIn">
    <wsdl:part name="parameters" element="tns:ModifyTemperature" />
  </wsdl:message>
  <wsdl:message name="ModifyTemperatureSoapOut">
    <wsdl:part name="parameters" element="tns:ModifyTemperatureResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteCitySoapIn">
    <wsdl:part name="parameters" element="tns:DeleteCity" />
  </wsdl:message>
  <wsdl:message name="DeleteCitySoapOut">
    <wsdl:part name="parameters" element="tns:DeleteCityResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteTemperatureSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteTemperature" />
  </wsdl:message>
  <wsdl:message name="DeleteTemperatureSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteTemperatureResponse" />
  </wsdl:message>
  <wsdl:message name="ListTempreaturesByCitySoapIn">
    <wsdl:part name="parameters" element="tns:ListTempreaturesByCity" />
  </wsdl:message>
  <wsdl:message name="ListTempreaturesByCitySoapOut">
    <wsdl:part name="parameters" element="tns:ListTempreaturesByCityResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="getTemperature">
      <wsdl:input message="tns:getTemperatureSoapIn" />
      <wsdl:output message="tns:getTemperatureSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertCity">
      <wsdl:input message="tns:InsertCitySoapIn" />
      <wsdl:output message="tns:InsertCitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertTemperature">
      <wsdl:input message="tns:InsertTemperatureSoapIn" />
      <wsdl:output message="tns:InsertTemperatureSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ModifyTemperature">
      <wsdl:input message="tns:ModifyTemperatureSoapIn" />
      <wsdl:output message="tns:ModifyTemperatureSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCity">
      <wsdl:input message="tns:DeleteCitySoapIn" />
      <wsdl:output message="tns:DeleteCitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTemperature">
      <wsdl:input message="tns:DeleteTemperatureSoapIn" />
      <wsdl:output message="tns:DeleteTemperatureSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListTempreaturesByCity">
      <wsdl:input message="tns:ListTempreaturesByCitySoapIn" />
      <wsdl:output message="tns:ListTempreaturesByCitySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getTemperature">
      <soap:operation soapAction="http://localhost/getTemperature" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCity">
      <soap:operation soapAction="http://localhost/InsertCity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertTemperature">
      <soap:operation soapAction="http://localhost/InsertTemperature" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyTemperature">
      <soap:operation soapAction="http://localhost/ModifyTemperature" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCity">
      <soap:operation soapAction="http://localhost/DeleteCity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTemperature">
      <soap:operation soapAction="http://localhost/DeleteTemperature" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListTempreaturesByCity">
      <soap:operation soapAction="http://localhost/ListTempreaturesByCity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getTemperature">
      <soap12:operation soapAction="http://localhost/getTemperature" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCity">
      <soap12:operation soapAction="http://localhost/InsertCity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertTemperature">
      <soap12:operation soapAction="http://localhost/InsertTemperature" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ModifyTemperature">
      <soap12:operation soapAction="http://localhost/ModifyTemperature" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCity">
      <soap12:operation soapAction="http://localhost/DeleteCity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTemperature">
      <soap12:operation soapAction="http://localhost/DeleteTemperature" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListTempreaturesByCity">
      <soap12:operation soapAction="http://localhost/ListTempreaturesByCity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://localhost:44317/MyWeatherService.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://localhost:44317/MyWeatherService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>